<List [className]="'my-list'" [renderHeader]="renderHeader">
  <ListItem *ngIf="matchList.length === 0">
    <span>暂无赛事</span>
    <Brief>
      您目前没有正在进行中的比赛，快去报名参赛吧～
    </Brief>
  </ListItem>  
  <ListItem [arrow]="'horizontal'" *ngFor="let item of matchList" (onClick)="open(item.id)">
    <span>{{item.name}}</span>
    <Brief>
      <div>地点：{{item.address}}</div>
      <!-- <div>签到人数：{{formatPercentage(item.signNum, item.player)}}</div> -->
      <div>开始时间：{{item.begTime | date:"MM/dd hh:mm:ss"}}</div>
      <div>结束时间：{{item.endTime | date:"MM/dd hh:mm:ss"}}</div>
    </Brief>
  </ListItem>    
</List>