<Navbar>
  首页
</Navbar>

<TabBar
  [barTintColor]="'white'"
  [tintColor]="'#108ee9'"
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex"
  [unselectedTintColor]="unselectedTintColor"
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)"
>
  <TabBarItem [title]="'Home'" [key]="1" [icon]="icon1" [selectedIcon]="icon11">
    <ng-template #icon1>
      <span class="iconfont icon-home font-size"></span>
    </ng-template>
    <ng-template #icon11>
      <span class="iconfont icon-home font-size focus"></span>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'Koubei'" [key]="2" [icon]="icon2" [selectedIcon]="icon22">
    <ng-template #icon2>
      <span class="iconfont icon-dingwei font-size"></span>
    </ng-template>
    <ng-template #icon22>
      <span class="iconfont icon-dingwei font-size focus"></span>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'Friend'" [key]="3" [icon]="icon3" [selectedIcon]="icon33">
    <ng-template #icon3>
      <span class="iconfont icon-lipin font-size"></span>
    </ng-template>
    <ng-template #icon33>
      <span class="iconfont icon-lipin font-size focus"></span>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <div style="padding-top: 60px">Clicked Friend tab， show Friend information</div>
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'My'" [key]="4" [icon]="icon4" [selectedIcon]="icon44">
    <ng-template #icon4>
      <span class="iconfont icon-wode font-size"></span>
    </ng-template>
    <ng-template #icon44>
      <span class="iconfont icon-wode font-size focus"></span>
    </ng-template>
    <div style="background-color: white; height: 100%; text-align: center">
      <div style="padding-top: 60px">Clicked My tab， show My information</div>
      <ng-container>
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </ng-container>
    </div>
  </TabBarItem>
</TabBar>
<ng-template #content>
  <router-outlet></router-outlet>
</ng-template>