<div *ngIf="detail" style="text-align: left;">
  <Card>
    <CardHeader
      [title]="'比赛名称'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div>{{detail.name}}</div>
    </CardBody>
  </Card>
  <Card>
    <CardHeader
      [title]="'比赛简介'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div>{{detail.introduce}}</div>
    </CardBody>
  </Card>
  <Card>
    <CardHeader
      [title]="'比赛地址'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div>{{detail.address}}</div>
    </CardBody>
  </Card>
  <Card>
    <CardHeader
      [title]="'比赛奖励'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div [innerHTML]="detail.prize"></div>
    </CardBody>
  </Card>
  <Card>
    <CardHeader
      [title]="'参与人数'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div>已报名人数：{{detail.actualPlayer}}</div>
      <div>总共可容纳人数：{{detail.player}}</div>
    </CardBody>
  </Card>
  <Card>
    <CardHeader
      [title]="'裁判人数'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div>已有人数：{{detail.actualReferee}}</div>
      <div>所需裁判：{{detail.referee}}</div>
    </CardBody>
  </Card>
  <Card>
    <CardHeader
      [title]="'报名链接'"
      [thumbStyle]="thumbStyle"
    >
    </CardHeader>
    <CardBody>
      <div>参赛者报名链接：<a href="">111</a></div>
      <div>裁判报名链接：<a href="">222</a></div>
    </CardBody>
  </Card>
</div>